<a href="https://colab.research.google.com/github/carlosrodgu/AmigoSecreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [3]:
print("Hola Mundo")

Hola Mundo

In [10]:
15

15

15

In [11]:
print("Mi nombre es carlos y tengo 46 años y me encanta la ciencia de datos")

Mi nombre es carlos y tengo 46 años y me encanta la ciencia de datos

In [12]:
print('Nombre: Carlos')
print('apellido: Rodríguez')

Nombre: Carlos
apellido: Rodríguez

In [14]:
print('28 febrero 2003')

28 febrero 2003

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [16]:
5

5

In [25]:
edad=5

In [28]:
print("id del:",edad,"es:",id(edad))

id del: 5 es: 11654504

In [29]:
id('gabriel')

139326876315552

In [30]:
nombre='gabriel'
id(nombre)

139326876454704

In [31]:
# id('gabriel')

139326876454704

In [32]:
id("Gabriel")

139326876315744

In [34]:
nom="Gabriel"
id(nom)

139326876312624

In [35]:
id("Gabriel")

139326876312624

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [36]:
edad = 5

In [37]:
type(edad)

int

In [39]:
nombre='carlos'
type(nombre)

str

In [40]:
valor = True
type(valor)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [44]:
alumno = "Penélope Camacho"
edad=11
promedio = 9.75
estadoAprobación=True

print("Alumno:",alumno, "Edad:", edad,"Promedio:", promedio,"situación aprobado:", estadoAprobación)
print("Alumno:",type(alumno), "Edad:", type(edad),"Promedio:", type(promedio),"situación aprobado:", type(estadoAprobación))

Alumno: Penélope Camacho Edad: 11 Promedio: 9.75 situación aprobado: True
Alumno: <class 'str'> Edad: <class 'int'> Promedio: <class 'float'> situación aprobado: <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [51]:
c_vigilante= 5
s_vigilante=300

c_docente=16
s_docente=500

c_coordinador=2
s_coordinador=600

total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [52]:
diferencia_salario = s_coordinador-s_vigilante
diferencia_salario

300

In [54]:
promedio_ponderado_s= (c_vigilante * s_vigilante + c_docente*s_docente + c_coordinador*s_coordinador)/total_empleados
promedio_ponderado_s

465.2173913043478

In [55]:
type(promedio_ponderado_s)

float

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [56]:
t="alura"
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [57]:
texto = '  Micaela de los Sanyos '
id(texto)

139326612328160

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [65]:
texto.upper()
str.upper(texto)

'Micaela de los Sanyos'

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [68]:
str.lower(texto)
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [70]:
str.strip(texto)
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [71]:
texto.replace("y","t")

'  Micaela de los Santos '

In [72]:
texto

'  Micaela de los Sanyos '

In [79]:
id(texto)
texto=texto.upper().strip().replace("Y","T")
texto
id(texto)

139326613620144

In [82]:
7%3

1

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [85]:
nombre = input("nombre:")

nombre:25

In [86]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [90]:
edad = float(input("edad"))
type(edad)

edad24

float

In [97]:
año_Admin=2024
nota_admin=4.4
print(f'\tEl año de admisión fue {año_Admin} \n\tla nota fue {nota_admin}')

	El año de admisión fue 2024
	la nota fue 4.4

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [105]:
chr(72) + chr(111) +  chr(108) + chr(97)# muestra la palabra hola
chr(10025)#muestra la estrella

'✩'

In [106]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [107]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [108]:
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [110]:
print("Ruta del archivo: C:\archivos\documento.csv")

Ruta del archivo: C:rchivos\documento.csv

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-1409538396.py:1: SyntaxWarning: invalid escape sequence '\d'
  print("Ruta del archivo: C:\archivos\documento.csv")

In [112]:
Nombre = input("Nombre:")
print(f'hola {Nombre}')

Nombre:Carlos
hola Carlos

In [114]:
Nombre=input("nombre")
edad=int(input("edad"))
print("hola %s tienes %d años" %(Nombre, edad))

nombreAndrea
edad45
hola Andrea tienes 45 años

In [118]:
nombre=input("nombre:")
edad=int(input("edad:"))
altura=float(input("Altura:"))
print("Hola %s, tienes %d años y mides %.2f m" %(nombre, edad, altura))

nombre:andre
edad:34
Altura:1.65
Hola andre, tienes 34 años y mides 1.65 m

# Estructuras condicionales

In [119]:
# nota de aprobación entre 7 y 10, es decir, nota de aprobación >=7
# nota de reprobación es menor a 7, es decir, nota de reprobación <7
"""
Esto es un comentario ewn más de una línea
para ello utilizo comillas 3 veces, seana estas
comillas simples o dobles
"""
'''
El estudiante aprueba con nota 7 o más y reprueba
con nota inferior a 7
'''

'\nEl estudiante aprueba con nota 7 o más y reprueba\ncon nota inferior a 7\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [123]:
if 2 > 7:
  print("la condicion es verdadera")
else:
  print("la condicion es falsa")
print("fin de la consulta")

la condicion es falsa
fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [137]:
nota = float(input("Nota:"))
if nota >= 7:
  print("Aprobado")
if 5 <= nota < 7:
  print("Pendiente")
if nota <5:
  print("Reprobado")

Nota:9
Aprobado

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [147]:
nota = float(input("Nota:"))
if nota>=7:
  print("Aprobado")
elif nota<7:
  print("Reprobado")

Nota:6
Reprobado

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [149]:
v=True
f=False

In [163]:
if not(f) or not(v):
  print("La condición es verdadera")
else:
  print("la condición es falsa")

La condición es verdadera

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [180]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,Dav id Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Marcelo Noguera'

In [183]:
if nombre_1 in lista and nombre_2 in lista:
  print("Alumno 1 y 2 aprobados")
elif nombre_1 in lista and not(nombre_2 in lista):
  print("Alumno 1 aprobado")
elif nombre_2 in lista and not(nombre_1 in lista):
  print("Alumno 2 aprobado")
else:
  print("Ningún alumno aprobado")

Alumno 1 y 2 aprobados

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [187]:
nota_1=float(input("digita primera nota:"))
nota_2=float(input("digita la segunda nota:"))
print(f'el promedio del estudiante es {(nota_1+nota_2)/2}')

digita primera nota:7
digita la segunda nota:5
el promedio del estudiante es 6.0

In [192]:
contador = 1
while contador <=10:
  print(contador)
  contador+=1

1
2
3
4
5
6
7
8
9
10

In [193]:
contador=1
while contador<=3:
  nota_1=float(input("digita primera nota:"))
  nota_2=float(input("digita la segunda nota:"))
  print(f'el promedio del estudiante es {(nota_1+nota_2)/2}')
  contador+=1

digita primera nota:8.5
digita la segunda nota:5.7
el promedio del estudiante es 7.1
digita primera nota:6.5
digita la segunda nota:10
el promedio del estudiante es 8.25
digita primera nota:9
digita la segunda nota:7
el promedio del estudiante es 8.0

In [194]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [195]:
for e in range(1,4):
  nota_1=float(input("digita primera nota:"))
  nota_2=float(input("digita la segunda nota:"))
  print(f'el promedio del estudiante es {(nota_1+nota_2)/2}')

digita primera nota:7
digita la segunda nota:8
el promedio del estudiante es 7.5
digita primera nota:8
digita la segunda nota:9
el promedio del estudiante es 8.5
digita primera nota:10
digita la segunda nota:5
el promedio del estudiante es 7.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [197]:
nombres= ["Carlos","andrea","Ximena","Carla","Kamila","Cristina"]
for n in range(0,6):
  print(nombres[n])

Carlos
andrea
Ximena
Carla
Kamila
Cristina

In [198]:
for n in nombres:
  print(n)

Carlos
andrea
Ximena
Carla
Kamila
Cristina

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [199]:
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
for n in lista:
  print(n)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [200]:
lista[2]= 10.0

In [201]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [205]:
promedio= (lista[1]+lista[2]+lista[3])/3
print(promedio)

9.733333333333333

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [209]:
Texto = "Juan, carlos, cristian, ximena, andrea, musica"
lnombres= Texto.split()
type(lnombres)

list

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [210]:
len(lista)

5

In [212]:
lista[0:2]

['Penélope Camacho', 9.5]

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

*A continuación te mostraremos lo que no puede realizarse con* `append`.

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [216]:
diccionario={"llave_1":1,
             "llave_2":2}
diccionario
type(diccionario)

dict

In [217]:
estudiante={
          'matricula':200168933,
          'dia_registro':25,
          'mes_registro':10,
          'grupo':'2E'
          }

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [219]:
estudiante["grupo"]

'2E'

In [224]:
estudiante["grupo"]="2G"
estudiante

{'matricula': 200168933, 'dia_registro': 25, 'mes_registro': 10, 'grupo': '2G'}

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [226]:
estudiante['modalidad']="ead"
estudiante

{'matricula': 200168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'ead'}

In [227]:
len(estudiante)

5

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [232]:
estudiante

{'matricula': 200168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'ead'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [234]:
estudiante.items()

dict_items([('matricula', 200168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'ead')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [235]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [236]:
estudiante.values()

dict_values([200168933, 25, 10, 'ead'])

### Lectura de valores con el lazo `for`

In [238]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [239]:
for llave, valor in estudiante.items():
  print(llave, "-->",valor)

matricula --> 200168933
dia_registro --> 25
mes_registro --> 10
modalidad --> ead

In [241]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
TotalGastos= sum(gastos)
ncompras=len(gastos)
PromedioGastos= TotalGastos/ncompras
print(f'El promedio de gastos es {PromedioGastos} pesos')

El promedio de gastos es 3144.222 pesos

In [245]:
NComprasSobre3000=0
for gasto in gastos:
  if gasto>3000:
    NComprasSobre3000 +=1


PorcenSobre3000=NComprasSobre3000/ncompras*100

print(f'{NComprasSobre3000} compras estuvieron sobre los $3000')
print(f'{PorcenSobre3000}% de los gastos estuvieron por sobre los $3000')

7 compras estuvieron sobre los $3000
70.0% de los gastos estuvieron por sobre los $3000

In [250]:
ListaNumInt=[]
for i in range(0,5):
  numero = int(input("Número:"))
  ListaNumInt.append(numero)

print(f'Lista de números ingresados: {ListaNumInt}')
# presentar la lista al revés
print(f'lista de números invertida: {ListaNumInt[::2]}')

Número:1
Número:2
Número:3
Número:4
Número:5
Lista de números ingresados: [1, 2, 3, 4, 5]
lista de números invertida: [1, 3, 5]

In [252]:
numero= int(input("ingresa un num entero:"))
lista_primos=[]
for num in range(2,numero):
  primo=True
  for prueba_divisibles in range(2,num):
    if num % prueba_divisibles==0:
      primo=False
      break

  if primo:
    lista_primos.append(num)

print(f'lista de numeros primos : {lista_primos}')

ingresa un num entero:5
lista de numeros primos : [2, 3]

In [254]:
dia=int(input('Día:'))
mes=int(input('Mes'))
año=int(input('Año'))

if mes==2:
  if año % 4 == 0 and(año % 400==0 or año % 100 !=0):
    diasFeb=29
  else:
    diasFeb=28

  if dia>=1 and dia <= diasFeb:
    print("Fecha válida")
  else:
    print("Fecha inválida")
elif mes in [1,3,5,7,8,10,12]:
  if dia>=1 and dia <=31:
    print("Fecha válida" )
  else:
    print("Fecha inválida")
elif mes in [4,6,9,11]:
  if dia>=1 and dia<=30:
    print("Fecha válida")
  else:
     print("Fecha inválida")
else:
   print("Fecha inválida")

Día:30
Mes09
Año1979
Fecha válida

In [3]:
manzanas=int(input("Manzanas vendidas:"))
platanos=int(input("playanos vendidos:"))
if manzanas >platanos:
  mayor ="manzanas"
elif manzanas<platanos:
  mayor="platanos"
else:
  mayor="iguales"
print(f'se vendieron más unidades de {mayor}')

Manzanas vendidas:25
playanos vendidos:21
se vendieron más unidades de manzanas

In [5]:
temp = float(input("Temperatura actual:"))
if temp>25:
  print("temperatura por sobre lo permitido")
else:
  print("temperatura en rangos normales")

Temperatura actual:26
temperatura por sobre lo permitido

In [10]:
act1=int(input("Dias para actividad 1"))
act2=int(input("Dias para actividad 2"))
act3=int(input("Dias para actividad 3"))
if act1 <0 or act2 <0 or act3 <0:
  print("error de dias negativos")
else:
  print(f"los dias totales son: {act1+act2+act3}")

Dias para actividad 12
Dias para actividad 22
Dias para actividad 32
los dias totales son: 6

In [18]:
peso=float(input("Su peso en Kg:"))
altura=float(input("Su altura en m:"))
imc = peso/(altura**2)
textimc="su imc es {:.2f}".format(imc)
if imc <18.5:
  textpeso ="estás por debajo del peso"
elif imc <25:
  textpeso="estás con peso normal"
else:
  textpeso="estás por sobre el peso"

print(f"{textimc} y {textpeso}")

Su peso en Kg:90
Su altura en m:1.8
su imc es 27.78 y estás por sobre el peso

In [19]:
ingresos = int(input("ingresos mensuales:"))
nhijos = int(input("n hijos:"))
if ingresos <=2000 and nhijos>=1:
  print("recibe beneficios")
else:
  print("no recibe beneficios")

ingresos mensuales:1200
n hijos:2
recibe beneficios

In [23]:
puntuacion=int(input("puntación:"))
añostrab=int(input("años trabajados:"))
if puntuacion>=7:
  if añostrab>5:
    print("Elegible para ascenso")
  else:
    print("Buen desempeño")
else:
  print("necesita mejorar")

puntación:8
años trabajados:4
Buen desempeño

In [28]:
num=int(input("número:"))
if num % 3==0 and num%5 == 0:
  print("número mágico")
elif num%3==0:
  print("divisible por 3")
elif num%5==0:
  print("divisble en 5")
else:
  print("no es un número mágico")

número:2
no es un número mágico

In [30]:
nombres = ['carlos','carla','kamila','claudio']
for nombre in nombres:
  print("el nombres es:", nombre)

print(f' el total de nombres es {len(nombres)}')

el nombres es: carlos
el nombres es: carla
el nombres es: kamila
el nombres es: claudio
 el total de nombres es 4

In [31]:
for num in range(7):
  print(num)

0
1
2
3
4
5
6

In [32]:
count=0
while (count <10):
  print(count)
  count +=1

0
1
2
3
4
5
6
7
8
9